@using TravelTripProje.Models.Siniflar
@model List<Otel>
@{
    ViewBag.Title = "OtelListele";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Otel Listesi</h2>

<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>BAŞLIK</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
        <th>DETAYLAR</th>
    </tr>

    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Id</td>
            <td>@x.Baslik</td>
            <td><a href="/Admin/OtelSilme/@x.Id" class="btn btn-danger" disabled>Sil</a></td>
            <td><a href="/Admin/OtelGetir/@x.Id" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Otel/OtelDetails/@x.Id" class="btn btn-default">Detaylar</a></td>
        </tr>
    }

</table>

<a href="/Admin/YeniOtelEkle" class="btn btn-primary">Yeni Otel Ekle</a>