@using TravelTripProje.Models.Siniflar
@model List<Blog>
@{ int i = 0;}
@foreach (var x in Model)
{
    <ul class="list list-pad">
        <a href="/Blog/BlogDetay/@x.ID"><li class="list-bg"><span>@{ i++;}@i.</span>@x.Baslik</li></a>
    </ul>
}
